# **Python Data Structures - Questions & Answers**

# 1. What are data structures, and why are they important?
# - Organized ways to store and manage data efficiently.

# 2. Explain the difference between mutable and immutable data types with examples.
# - Mutable: Can be changed (Lists, Dictionaries).
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

# - Immutable: Cannot be changed (Strings, Tuples).
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # Error

# 3. What are the main differences between lists and tuples in Python?
# - Lists are mutable, tuples are immutable.

# 4. Describe how dictionaries store data.
# - Uses key-value pairs for quick lookups.
student = {"name": "Vinod", "age": 25}
print(student["name"])  # Output: Vinod

# 5. Why might you use a set instead of a list in Python?
# - Sets store unique elements and allow fast lookups.
numbers = {1, 2, 3, 3, 4}
print(numbers)  # Output: {1, 2, 3, 4}

# 6. What is a string in Python, and how is it different from a list?
# - Strings are immutable, while lists are mutable.

# 7. How do tuples ensure data integrity in Python?
# - They cannot be modified after creation.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
# - A hash table maps keys to values efficiently.

# 9. Can lists contain different data types in Python?
# - Yes, a list can store multiple data types.
mixed_list = [1, "hello", 3.14, True]

# 10. Explain why strings are immutable in Python.
# - For security, efficiency, and hashability.

# 11. What advantages do dictionaries offer over lists?
# - Faster lookups and key-based data retrieval.

# 12. Describe a scenario where using a tuple would be preferable over a list.
# - When storing constant values like configurations.

# 13. How do sets handle duplicate values in Python?
# - Sets automatically remove duplicate values.
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

# 14. How does the "in" keyword work differently for lists and dictionaries?
# - In lists, it checks for values. In dictionaries, it checks for keys.
d = {"a": 1, "b": 2}
print("a" in d)  # True (checks keys)
print(1 in d)  # False (does not check values)

# 15. Can you modify the elements of a tuple?
# - No, tuples are immutable.

# 16. What is a nested dictionary, and give an example of its use case?
# - A dictionary inside another dictionary, used for structured data storage.
students = {"Alice": {"age": 20, "grade": "A"}, "Bob": {"age": 22, "grade": "B"}}
print(students["Alice"]["age"])  # Output: 20

# 17. Describe the time complexity of accessing elements in a dictionary.
# - O(1) on average due to hash-based lookups.

# 18. In what situations are lists preferred over dictionaries?
# - When order matters and indexing is required.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
# - Before Python 3.7, they did not maintain insertion order.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
# - Lists use indexing, dictionaries use key lookups.
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20

my_dict = {"a": 10, "b": 20}
print(my_dict["b"])  # Output: 20

In [4]:
# 1. Write a code to create a string with your name and print it
name = "Vinod"
print(name)

Vinod

In [5]:
# 2. Write a code to find the length of the string "Hello World"
string1 = "Hello World"
print(len(string1))

11

In [7]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string2 = "Python Programming"
print(string2[:3])

Pyt

In [9]:
# 4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [11]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [13]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [15]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [17]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [19]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [21]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list3 = [10, 20, 30, 40, 50]
print(list3[::-1])

[50, 40, 30, 20, 10]

In [23]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [25]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [27]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple3 = (10, 20, 5, 15)
print(min(tuple3))

5

In [29]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index("cat"))

1

In [31]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple5 = ('apple', 'banana', 'mango')
print("kiwi" in tuple5)

False

In [33]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'a', 'b'}

In [35]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [37]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [39]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [41]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [43]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict1 = {"name": "John", "age": 25, "city": "New York"}
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [45]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [47]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict2 = {"name": "Alice", "age": 30}
print(dict2["name"])

Alice

In [49]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict3["age"]
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [51]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict4)

True

In [53]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
list4 = [1, 2, 3]
tuple6 = (4, 5, 6)
dict5 = {"a": 7, "b": 8}
print(list4, tuple6, dict5)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [54]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_list = sorted(random.sample(range(1, 101), 5))
print(rand_list)

[22, 40, 73, 74, 99]

In [56]:
# 28. Write a code to create a list with strings and print the element at the third index
list5 = ["apple", "banana", "cherry", "date", "elderberry"]
print(list5[3])

date

In [58]:
# 29. Write a code to combine two dictionaries into one and print the result
dict6 = {"x": 1, "y": 2}
dict7 = {"z": 3, "w": 4}
dict6.update(dict7)
print(dict6)

{'x': 1, 'y': 2, 'z': 3, 'w': 4}

In [59]:
# 30. Write a code to convert a list of strings into a set
list6 = ["apple", "banana", "cherry", "apple"]
print(set(list6))

{'cherry', 'banana', 'apple'}